.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--bg);
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: #c51212;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
