.container {
    margin-top: 20px;
  }
  
  .project {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .projectButton {
    padding: 5px 10px;
    background-color: #c51212;
    color: var(--textColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  